body {
    font-size: 2vw;
    font-family: 'Press Start 2P', monospace;
    color: greenyellow;
    background: url("scan_grid.jpeg");
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-areas:    "LB CL CR RB"
                            "LB CL CR RB"
                            "LB CL CR RB"
                            
}

#top-pad{
    grid-area: TP;
}

#bottom-pad{
    grid-area: BPl
}

#left-box{
    text-align: center;
    grid-area: LB;
}

#center-left{
    text-align: center;
    grid-area: CL;
}

#center-right{
    text-align: center;
    grid-area: CR;
}

#right-box{
    text-align: center;
    grid-area: RB;
}

#freqslider1{
    /* width: 95vw; */
    height: 47vw;
    -webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
}

#freqslider2{
    /* width: 95vw; */
    height: 47vw;
    -webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
}

.options{
    padding-top: 30vh;
}

.lock-screen{
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}